@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'ProximaNova';
  font-size: 14px;
  background: rgba(84, 95, 112, 0.8);
  color: #333;
}
a {
  transition: all 200ms ease-in;
}
.icon {
  display: inline-block;
  width: 34px;
  height: 34px;
}
.icon.icon-request {
  background: url(../img/icn-requests.svg) center no-repeat;
}
.icon.icon-direct {
  background: url(../img/icn-direct.svg) center no-repeat;
}
.icon.icon-companies {
  background: url(../img/icn-companies.svg) center no-repeat;
}
.icon.icon-settings {
  background: url(../img/icn-settings.svg) center no-repeat;
}
.icon.icon-add {
  background: url(../img/icn-add.svg) center no-repeat;
}
.icon.icon-search {
  background: url(../img/icn-search.svg) center no-repeat;
}
.icon.icon-more {
  background: url(../img/icn-more.svg) center no-repeat;
}
.icon.icon-close {
  background: url(../img/icn-add.svg) center no-repeat;
}
.chat-wrapper {
  max-width: 1400px;
  margin: 30px auto;
  background: #fff;
  height: calc(100vh - 60px);
  border-radius: 6px;
}
.chat-list {
  height: calc(100vh - 60px);
  background: #f9f9f9;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px 0 0 6px;
}
.chat-list-header {
  padding: 0 20px;
  background-color: #ececec;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.23);
  border-radius: 6px 0 0 0;
  height: 60px;
  position: relative;
  z-index: 2;
}
.chat-list-header a {
  position: relative;
  display: inline-block;
  padding: 12px 10px 9px;
  margin: 0 20px 0 0;
}
.chat-list-header a.active,
.chat-list-header a:hover {
  background-color: rgba(213, 219, 235, 0.62);
  box-shadow: inset 0 0 5px 0 rgba(51, 78, 107, 0.2);
}
.chat-list-header a:last-child {
  float: right;
  margin: 0;
  border-left: 1px solid #d5dcdf;
  padding: 12px 15px 9px;
}
.chat-list-header .badge {
  width: 14px;
  height: 14px;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-size: 10px;
  padding: 0;
  line-height: 13px;
  position: absolute;
  top: 10px;
  right: 8px;
}
.chat-search {
  padding: 0 5px;
}
.chat-search h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #262231;
  margin: 10px 0;
}
.chat-search a {
  display: inline-block;
  position: relative;
  top: 12px;
}
.chat-search form {
  width: 100%;
  position: relative;
  margin: 0 0 11px;
}
.chat-search form input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}
.chat-search form button {
  width: 20px;
  position: absolute;
  right: 20px;
  top: -3px;
  background: none;
  border: none;
  height: 30px;
}
.chat-body-header {
  background-color: #e6f0ff;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.23);
  border-radius: 0 6px 0 0;
  line-height: 60px;
}
.chat-body-header .chat-title {
  font-size: 18px;
  font-weight: 600;
  color: #262231;
  padding: 0 25px;
}
.chat-body-header .chat-title span {
  font-size: 16px;
  color: #4b6cc4;
}
.chat-body-header .icon {
  position: relative;
  top: 12px;
}
.chat-body-header .chat-close {
  text-align: center;
  line-height: 2.4em;
  width: 60px;
  display: block;
  float: right;
  font-size: 10px;
  color: #929098;
}
.chat-body-header .chat-close i {
  transform: rotate(45deg);
  filter: grayscale(100%);
  width: 26px;
  height: 26px;
  background-size: 100% 100%;
  opacity: 0.5;
}
.chat-body-header .chat-close span {
  display: block;
}
.chat-body-header .chat-close:hover {
  color: #262231;
  text-decoration: none;
}
.chat-body-header .chat-close:hover i {
  opacity: 1;
}
