@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'ProximaNova';
	font-size: 14px;
	background: rgba(84, 95, 112, 0.8);;
	color: #333;
}

a {
	transition: all 200ms ease-in;
}

.scrollable .scroll-bar.vertical {
	right: 10px;
}
.scrollable.default-skin .scroll-bar .thumb {
	background: #dbdde6;
}

.icon {
	display: inline-block;
	width: 34px;
	height: 34px;

	&.icon-request {
		background: url(../img/icn-requests.svg) center no-repeat;
	}
	&.icon-direct {
		background: url(../img/icn-direct.svg) center no-repeat;
	}
	&.icon-companies {
		background: url(../img/icn-companies.svg) center no-repeat;
	}
	&.icon-settings {
		background: url(../img/icn-settings.svg) center no-repeat;
	}
	&.icon-add {
		background: url(../img/icn-add.svg) center no-repeat;
	}
	&.icon-search {
		background: url(../img/icn-search.svg) center no-repeat;
	}
	&.icon-more {
		background: url(../img/icn-more.svg) center no-repeat;
	}
	&.icon-close {
		background: url(../img/icn-add.svg) center no-repeat;
	}
	&.icon-collapse {
		background: url(../img/icn-collapse.svg) center no-repeat;
	}
	&.icon-attach {
		background: url(../img/icn-attach-files.svg) center no-repeat;
	}
	&.icon-placeholder {
		background: url(../img/placeholder.svg) center no-repeat;
	}
	&.icon-sourcing-request {
		background: url(../img/icn-sourcing-request-chat.svg) center no-repeat;
	}
	&.icon-pin {
		background: url(../img/icn-pin.svg) center no-repeat;
	}
	&.icon-pin-checked {
		background: url(../img/icn-pin-checked.svg) center no-repeat;
	}

}

.chat-wrapper {
	max-width: 1400px;
	margin: 30px auto;
	background: #fff;
	height: calc(100vh - 60px);
	border-radius: 6px;
	overflow: hidden;
}

.chat-list {
	height: calc(100vh - 60px);
	background: #f9f9f9;
	border-radius: 6px 0 0 6px;
}

.chat-list-header {
	padding: 0 20px;
	background-color: #ececec;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.23);
    border-radius: 6px 0 0 0;
    height: 60px;
    position: relative;
    z-index: 2;

	a {
		position: relative;
		display: inline-block;
		padding: 12px 15px 9px;
		margin: 0 10px 0 0;

		&.active, &:hover {
			background-color: rgba(213, 219, 235, 0.62);
  			box-shadow: inset 0 0 5px 0 rgba(51, 78, 107, 0.2);
		}
		&:last-child {
			float: right;
			margin: 0;
			border-left: 1px solid #d5dcdf;
			padding: 12px 15px 9px;
		}
	}
	.badge {
		width: 14px;
		height: 14px;
		background-image: linear-gradient(to right, #ff9966, #ff5e62);
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
		font-size: 10px;
		padding: 0;
		line-height: 13px;
		position: absolute;
		top: 10px;
		right: 8px;
	}

}

.chat-search {
	padding: 0 5px;

	h3 {
		display: inline-block;
		font-size: 18px;
		font-weight: 600;
		color: #262231;
		margin: 10px 0;
	}
	a {
		display: inline-block;
		position: relative;
		top: 12px;
	}
	form {
		width: 100%;
		position: relative;
		margin: 0 0 11px;

		input {
			width: 100%;
			height: 30px;
			line-height: 30px;
			padding: 0 5px;
		}
		button {
			width: 20px;
			position: absolute;
			right: 20px;
			top: -3px;
			background: none;
			border: none;
			height: 30px;
		}
	}
}

.chats {
	height: calc(100vh - 230px);

	.scroll-bar.vertical {
		right: -5px;
	}

	button {
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		text-align: left;

		&:focus {
			outline: none;
		}
	}

	.panel-default,
	.panel-heading {
		background: none;
		border: none;
		box-shadow: none;
		border-radius: 0;
	}

	.panel-default {
		border-bottom: 1px solid #e0dfe4;

		&:last-child {
			border: none;
		}
	}

	.panel-heading {
		padding: 10px;
		background: url(../img/icn-collapse-content-small.svg) 95% 15px no-repeat;

		.chat-name {
			margin-top: 4px !important;
		}

		.pin {
			right: 16px !important;
		}
	}

	.panel-body {
		padding: 10px;
	}

	.panel-default.active {
		background-color: #efefef;
		border: solid 1px #e0dfe4;
		border-radius: 3px;

		.panel-heading {
			background-color: #e7e7e7;
			border: none;
			background-image: url(../img/icn-collapse-content-small-reversed.svg);
		}
	}
	.panel-collapse.in {

		.panel-body {
			border: none;
		}
	}

	.media-left {
		a {
			background: #fff;
			display: block;
			width: 34px;
			height: 34px;
			border: solid 1px #dfe6f6;
			padding: 0;
			border-radius: 1px;

			i {
				margin-top: -1px;
				margin-left: -1px;
			}

			&.sourcing-request {
				background-image: linear-gradient(to right, #ff9966, #ff5e62);
  				border: solid 1px rgba(255, 255, 255, 0.25);
  				border-radius: 3px;
			}
		}

		&.new {
			position: relative;

			&:after {
				content: "";
				width: 7px;
				height: 7px;
				position: absolute;
				top: 0;
				right: 10px;
				border: 1px solid #fff;
				border-radius: 5px;
				background-color: #ff9966;
				box-shadow: 1px 1px 2px 0 rgba(255, 153, 102, 0.33);
			}
		}
	}
	.media-body {
		position: relative;

		.pin {
			position: absolute;
			top: -2px;
			right: -8px;
		}
		.label-success {
			border-radius: 8px;
  			background-color: #17a77a;
  			font-size: 10px;
  			letter-spacing: 0.7px;
  			color: #fff;
  			padding: 1px 5px;
  			display: inherit;
		}
		.chat-name {
			font-size: 14px;
			font-weight: 600;
		}
		.chat-time {
			font-size: 11px;
			line-height: 1;
			letter-spacing: 0.6px;
			color: #929098;
		}
	}

	.chat-item {
		padding: 10px 0;
		border-bottom: 1px solid #e0dfe4;

		&:last-child {
			border: none;
		}

		.chat-name {
			color: #4b6cc4;
		}
	}
}


.chat-body-header {
	background-color: #e6f0ff;
    border-radius: 0 6px 0 0;
    line-height: 60px;

    .chat-title {
    	font-size: 18px;
    	font-weight: 600;
    	color: #262231;
    	padding: 0 25px;

    	span {
    		font-size: 16px;
    		color: #4b6cc4;
    	}
    }

    .icon {
    	position: relative;
    	top: 12px;
    }
    .chat-close {
    	text-align: center;
	    line-height: 2.4em;
	    width: 60px;
	    display: block;
	    float: right;
	    font-size: 10px;
	    color: #929098;

	    i {
	    	transform: rotate(45deg);
	    	filter: grayscale(100%);
	    	width: 26px;
	    	height: 26px;
	    	background-size: 100% 100%;
	    	opacity: 0.5;
	    }

	    span {
	    	display: block;
	    }
	    &:hover {
	    	color: #262231;
	    	text-decoration: none;

	    	i {
	    		opacity: 1;
	    	}
	    }
	}
}

.chat-inner {
	padding: 0;
}
.chat-messages {

	padding: 15px 35px 15px 25px !important;
	height: 100vh;
	max-height: calc(100vh - 195px);
	box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.19);

	.message {
		border-radius: 6px;
  		background: rgba(219, 221, 230, 0.5);
  		margin: 0 0 40px;
  		padding: 15px;
  		width: 80%;
  		float: right;

  		&.in {
  			background: #f9f9f9;
  			float: left;
  		}
	}
}
.new-message {
	padding: 15px 0;
	
	form {

	}
	input {
		width: 100%;
		padding: 0 5px;
		height: 30px;
		line-height: 30px;
	}
	p {
		margin: 4px 0 0;
		font-size: 12px;
		letter-spacing: 0.6px;
  		color: #929098;
	}
	a {
		float: left;

		i {
			margin-top: -2px;
		}
	}
	button {
		width: 63px;
		height: 30px;
		border-radius: 1px;
		background-color: #ffffff;
		border: solid 1px #fe8403;
		letter-spacing: 0.2px;
  		color: #e37500;
  		font-weight: 600;
	}
}

.chat-files {
	padding: 0;

	h3 {
		margin: 0;
	}

	h4 {
		color: #262231;
		font-size: 16px;
		font-weight: 600;
		margin: 15px 0;
	}

	.file {
		font-size: 14px;
		font-weight: 600;
		color: #4b6cc4;
		padding: 10px 0;
		border-bottom: 1px solid #d5dcdf;
	}

	a.hide-files {
		display: block;
		background: #f9f9f9;
  		box-shadow: 0 0 23px 0 rgba(63, 63, 66, 0.2);
  		width: 42px;
  		height: 42px;
  		border-radius: 3px 0 0 3px;
  		position: absolute;
  		z-index: 1;
  		left: -42px;
  		top: 22px;
  		text-align: center;

  		.icon {
  			margin-top: 4px;
  		}

	}
}
.files-inner {
	background: #f9f9f9;
	height: calc(100vh - 120px);
	position: relative;
	z-index: 2;
	padding: 30px 15px;
}

.chat-body-closed {
	.chat-inner {
		width: 100%;
	}
	.chat-files {
		width: 0;
	}
	a.hide-files {
		.icon {
			transform: rotate(180deg);
		}
	}
}


























